* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.game-board {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}


body {
    background-color: #D95550;
    font-family: 'DynaPuff', cursive;
font-family: 'Roboto Slab', serif;
font-family: 'Silkscreen', cursive;

    
}
.box {
  border: 1px solid #555;
  background-color: whitesmoke;
  color: black;
  display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
}

